<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <!-- header and nav partial -->
        <%- include ('../partials/header.ejs') %>
        <div class="container">
            <h3 class="indexTitle">Store</h3>
            <ul class="products row">
                <% for (let i = 0; i < store.length; i++) { %>
                    <li class="col-6 product-container">
                        <img src="<%=store[i].img%>" alt="product image" class="store_img">
                        <br>
                        <h4><%=store[i].product%></h4>
                        <b>Description:</b>
                        <h6>Brand: <%=store[i].description.brand%></h6>
                        <h6>Fabric: <%=store[i].description.fabric%></h6>
                        <h6>Color: <%=store[i].description.color%></h6>
                        <h5>$<%=store[i].price%> / <%=store[i].points%> points</h5>
                        <div class="quantity">
                            <h6><b>Quantity:</b></h6>
                            <div class="qButtons">
                                <button type="button" name="less-btn" class="qty-btn" id="less-btn">-</button>
                                <% let num = 0 %>
                                <% $('#less-btn').click(() => { %>
                                    num--
                                <% }) %>
                                <% $('#add-btn').click(() => { %>
                                    num++
                                <% }) %>
                                <p><%=num%></p>
                                <button type="button" name="add-btn" class="qty-btn" id="add-btn">+</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary add-cart">Add to Cart</button>
                    </li>
                <% } %>
            </ul>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    </body>
</html>
