<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <!-- header and nav partial -->
        <%- include ('../partials/header.ejs') %>
        <div class="container">
            <h3 class="indexTitle">Edit Profile</h3>
            <main>
                <form action="/community/<%=member.id%>?_method=PUT" method="POST" style="width: 40%; margin: auto; padding: 1em;">
                    <div class="profile-pic row">
                        <!-- ============== PROFILE PIC ============== -->
                        <label for="img" class="col"><b>Photo:</b></label>
                        <input type="url" name="img" value="<%=member.img%>" class="col" />
                        <br>
                    </div>

                    <div class="edit-name row">
                        <!-- ============== NAME ============== -->
                        <label for="name" class="col"><b>Name:</b></label>
                        <input type="text" name="name" id="name" value="<%=member.name%>" class="col"/>
                        <br>
                    </div>

                    <div class="edit-dob row">
                        <!-- ========= DATE OF BIRTH ========= -->
                        <label for="dateOfBirth" class="col"><b>Date of Birth:</b></label>
                        <div class="options col">
                            <!-- dob month -->
                                <select class="" name="dateOfBirth.month">
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                                <!-- dob day -->
                                <select class="" name="dateOfBirth.day">
                                    <% for (let i = 1; i <= 31; i++) { %>
                                        <option value="<%=[i]%>"><%=[i]%></option>
                                    <% } %>
                                </select>
                                <!-- dob year -->
                                <select class="" name="dateOfBirth.year">
                                    <% for (let i = 2021; i >= 1930; i--) { %>
                                        <option value="<%=[i]%>"><%=[i]%></option>
                                    <% } %>
                                </select>
                        </div>
                        <br>
                    </div>

                    <div class="edit-gender row">
                        <!-- ============= GENDER ============= -->
                        <label for="gender" class="col"><b>Gender:</b></label>
                            <select class="col" name="gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="genderNeutral">Gender Neutral</option>
                                <option value="nonBinary">Non Binary</option>
                                <option value="Prefer Not to Say">Prefer Not To Say</option>
                            </select>
                    </div>
                    <br>

                    <div class="edit-pronouns row">
                        <!-- ============= PRONOUNS ============= -->
                        <label for="pronouns" class="col"><b>Pronouns:</b></label>
                            <select class="col" name="pronouns">
                                <option value="She/Her">She/Her</option>
                                <option value="He/Him">He/Him</option>
                                <option value="They/Them">They/Them</option>
                            </select>
                    </div>
                    <br>

                    <div class="edit-location row">
                        <!-- ============== LOCATION ============== -->
                        <label for="location" class="col"><b>Location:</b></label>
                        <div class="col">
                            <div class="row">
                                <input type="text" name="location.state" value="<%=member.location.state%>" class="col"/>
                                <input type="text" name="location.zip" value="<%=member.location.zip%>" class="col">
                            </div>
                        </div>
                    </div>
                    <br>

                    <input type="submit" value="Update Profile" class="btn btn-outline-secondary">
                </form>
            </main>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
