<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Feed</h1>
            <a href="/community/new">Create new profile</a>

            <% for (let i = 0; i < members.length; i++) { %>
                <div class="entry">
                    <% for (let member of members) { %>
                        <a href="/community/<%=members[i]._id%>"><%=members[i].name%></a>
                        <img src="<%=member.posts[i].img%>" alt="">
                        <p><%=member.posts[i].date%></p>
                        <p><%=member.posts[i].entry%></p>
                        <p><%=member.posts[i].feeling%></p>
                    <% } %>
                </div>
            <% } %>

        </div>
    </body>
</html>
