<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <div class="container">
            <h1>Community</h1>

            <ul>
                <% for (let i = 0; i < members.length; i++) { %>
                    <img src="<%=members[i].img%>" alt="profilePic">
                    <br>
                    <a href="/community/<%=members[i]._id%>"><%=members[i].name%></a>
                    <br>
                    <h5><%=members[i].pronouns%></h5>
                <% } %>
            </ul>

        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
