<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <!-- header and nav partial -->
        <%- include ('../partials/header.ejs') %>

        <div class="container">
            <main>
                <h3>Community</h3>
                <div class="profilesList">
                    <ul class="profileItems">
                        <% for (let i = 0; i < members.length; i++) { %>
                            <li>
                                <a href="/community/<%=members[i]._id%>"><img src="<%=members[i].img%>" alt="profilePic" class="profilePic"></a>
                                <br>
                                <a href="/community/<%=members[i]._id%>"><%=members[i].name%></a>
                                <br>
                                <h6><%=members[i].pronouns%></h6>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </main>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>

    </body>
</html>
