<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <!-- header and nav partial -->
        <%- include ('../partials/header.ejs') %>

        <div class="container">

            <h2>New Profile</h2>
            <form class="" action="/community" method="POST">
                <!-- ============== PROFILE PIC ============== -->
                <label for="img">Profile Picture:</label>
                <input type="url" name="img" id="img"/>
                <br>

                <!-- ============== NAME ============== -->
                <label for="name">Name:</label>
                <input type="text" name="name" id="name"/>
                <br>

                <!-- ========= DATE OF BIRTH ========= -->
                <label for="dateOfBirth">Date of Birth:</label>
                    <select class="" name="dateOfBirth.month">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>

                    <select class="" name="dateOfBirth.day">
                        <% for (let i = 1; i <= 31; i++) { %>
                            <option value="<%=[i]%>"><%=[i]%></option>
                        <% } %>
                    </select>


                    <select class="" name="dateOfBirth.year">
                        <% for (let i = 2021; i >= 1930; i--) { %>
                            <option value="<%=[i]%>"><%=[i]%></option>
                        <% } %>
                    </select>
                    <br>


                <!-- ========= Gender ========= -->
                <label for="gender">Gender:</label>
                    <select class="" name="gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="genderNeutral">Gender Neutral</option>
                        <option value="nonBinary">Non Binary</option>
                        <option value="other">Other</option>
                    </select>
                <br>

                <!-- ============= PRONOUNS ============= -->
                <label for="pronouns">Pronouns:</label>
                    <select class="" name="pronouns">
                        <option value="She/Her">She/Her</option>
                        <option value="He/Him">He/Him</option>
                        <option value="They/Them">They/Them</option>
                    </select>
                <br>

                <!-- ============== LOCATION ============== -->
                <label for="location">Location:</label>
                <input type="text" name="location.state" placeholder="State" id="state" />
                <input type="text" name="location.zip" placeholder="Zip" id="zip" />
                <br>
                <input type="submit" value="Submit" class="submit-btn"/>
            </form>

        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
