<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <div class="container">
            <h1>showing <%= member.name %> profile page</h1>
            <img src="<%= member.img %>" alt="">
            <h3><%= member.name %></h3>
            <h4><%= member.pronouns %></h4>
            <h4>Points: <%= member.points %></h4>

            <!-- Edit Button -->
            <button type="button" name="button"><a href="/community/<%=member._id%>/edit">Edit Profile</a></button>
            <!-- Delete Button -->
            <form class="delete" action="/community/<%=member.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Profile">
            </form>

            <section>
                <h2>Posts:</h2>
                <ul>
                    <% for (let i = 0; i < member.articles.length; i++) { %>
                        <li><a href="/posts"><%=member.posts[i].postText%></a></li>
                    <% } %>
                </ul>
            </section>

            <nav>
                <a href="/community">Back to Feed</a>
            </nav>

        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
