<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/header.ejs') %>
        </nav>
        <div class="container">
            <div class="profileInfo">
                <img src="<%=member.img%>" alt="" class="showProfilePic">
                <section class="about">
                    <h2><%=member.name%></h2>
                    <h4><%=member.pronouns%></h4>

                    <!-- Edit Button -->
                    <button type="button" name="button" class="edit-btn"><a href="/community/<%=member._id%>/edit" class="edit-btnLetters">Edit Profile</a></button>
                </section>
            </div>

            <!-- Delete Button -->
            <form class="delete" action="/community/<%=member.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Profile" class="delete-btn">
            </form>

            <div class="postsSection">
                <h5>Posts:</h5>
                <ul>
                    <% for (let i = 0; i < member.posts.length; i++) { %>
                        <li>
                            <img src="<%=member.posts[i].img%>" alt="photo">
                            <p><%=member.posts[i].caption%></p>
                            <p><%=member.posts[i].feeling%></p>
                            <p><%=member.posts[i].postDate%></p>
                        </li>
                    <% } %>
                </ul>
            </div>

        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
