<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <!-- header and nav partial -->
        <%- include ('../partials/header.ejs') %>

        <div class="container">
            <h3>Edit Post</h3>
            <main>
                <form action="/posts/<%=post.id%>?_method=PUT" method="POST">
                    <!-- post photo -->
                    <label for="img">Photo:</label>
                    <input type="url" name="img" value="<%=post.img%>" id="img" />
                    <br>
                    <!-- post caption -->
                    <label for="caption">Caption:</label>
                    <textarea name="caption" value="<%=post.caption%>"><%=post.caption%></textarea>
                    <br>
                    <!-- feeling/ activity -->
                    <label for="feeling">How did that workout feel?</label>
                        <select class="form-select" aria-label="Default select example" name="feeling">
                            <option value="Amazing! &#128516;">Amazing! &#128516;</option>
                            <option value="Great! &#128512;">Great! &#128512;</option>
                            <option value="Good! &#128524;">Good! &#128524;</option>
                            <option value="Tired! &#128555;">Tired! &#128555;</option>
                            <option value="I can't feel my legs! &#128565;">I can't feel my legs! &#128565;</option>
                        </select>
                        <br>

                        <!-- point system activity -->
                        <label for="pointSystem.activity">What was your activity?</label>
                            <select class="form-select" aria-label="Default select example" name="pointSystem.activity">
                                <option value="Active Sport">Active Sport</option>
                                <option value="Biking">Biking</option>
                                <option value="Boot Camp">Boot Camp</option>
                                <option value="Exercise Class">Exercise Class</option>
                                <option value="Hiking">Hiking</option>
                                <option value="Jump Rope">Jump Rope</option>
                                <option value="Run or Jog">Run or Jog</option>
                                <option value="Steps">Steps</option>
                                <option value="Strength Training">Strength Training</option>
                                <option value="Swimming">Swimming</option>
                                <option value="Walk">Walk</option>
                            </select>
                        <br>
                        <input type="submit" value="Edit">
                </form>
            </main>
        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
