<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <nav>
            <%- include ('../partials/header.ejs') %>
        </nav>

        <div class="container">
            <h3>New Post</h3>

            <form action="/posts" method="POST">
                <!-- name is the document property that determines the community member -->
                    <!-- double check if communityId is right -->
                <select class="" name="communityId">
                    <!-- looping through all the commumnity members profiles -->
                    <% for (let i = 0; i < members.length; i++) { %>
                        <!-- id is members specified object id -->
                        <option value="<%=members[i]._id%>"><%=members[i].name%></option>
                    <% } %>
                </select>
                <br>
                <!-- post photo -->
                <label for="img">Photo:</label>
                <input type="file" name="img" id="img" />
                <br>
                <!-- post caption -->
                <label for="postText">Caption:</label>
                <textarea name="postText"></textarea>
                <br>
                <!-- feeling/ activity -->
                <label for="feeling">How are you feeling?</label>
                    <select class="" name="feeling">
                        <option value="Amazing!">Amazing!</option>
                        <option value="Great!">Great!</option>
                        <option value="Good!">Good!</option>
                        <option value="Tired!">Tired!</option>
                        <option value="I can't feel my legs!">I can't feel my legs!</option>
                    </select>

                <br>
                <input type="submit" value="Post">
            </form>

        </div>
        <footer>
            <%- include ('../partials/footer.ejs') %>
        </footer>
    </body>
</html>
